.home {
  display: flex;
  flex: 6;
  align-self: stretch;
  overflow: scroll;
  background-color: rgb(247, 243, 232);
}

.home .container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.home .container .recipes {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin: 10px;
  flex: 1;
}

.home .container .recipe-screen {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin: 10px;
  flex: 1;
}

.recipe-header {
  display: flex;
  flex-direction: row;
}

.recipe-screen > .container {
  display: flex;
  flex-direction: column;
}

.home .container .user-setting-screen {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin: 10px;
  flex: 1;
}

.user-setting-screen > .container {
  display: flex;
  flex-direction: column;
}

.recipe {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.recipe > .container {
  display: flex;
  flex-direction: column;
}

.recipe-body > .recipe-summary {
  display: flex;
  flex-direction: row;
}

.recipe-procedures-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-procedures-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recipe-procedure {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;

  width: 25%;
}
.new-recipe-box {
  width: 30vw;
  margin: 0px 5px 0px 0px;
}

.new-recipe-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.liked-recipes-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.created-recipes-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}